<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558423842856-mcaju2n99bs68ro0mgvq553ai4n3rh8s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558423842856-mcaju2n99bs68ro0mgvq553ai4n3rh8s</string>
	<key>API_KEY</key>
	<string>AIzaSyAfpWCTcr2kzhDQimLt8WGry2QTLd_f2Fc</string>
	<key>GCM_SENDER_ID</key>
	<string>558423842856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.tiktok</string>
	<key>PROJECT_ID</key>
	<string>tiktok-clone-29225</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-clone-29225.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558423842856:ios:bc6e897165d01ac8ab551d</string>
	<key>DATABASE_URL</key>
	<string>https://tiktok-clone-29225-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>